<h1>Log in</h1>

<div class="small-6 small-offset-3">
    <%= form_tag sessions_path do %>
        <div class="field">
            <%= label_tag :email %><br />
            <%= text_field_tag :email, params[:email] %>
        </div>
        <div class="field">
            <%= label_tag :password %><br />
            <%= password_field_tag :password %>
        </div>
        <div class="actions">
            <p class="button"><%= submit_tag "Log in" %></p>
        </div>
    <% end %>
</div>
